.box{
    width: 180px;
    height:110px;
    background-color: white;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    border-radius:15px;
    border-style:solid ;
    border-color: white;
    border-bottom-color: navy;
}
.text{
    text-shadow: 2px 2px 5px;
    font-size: 18px;
    font-style:normal;
    color:dodgerblue;
}
.text1{
    text-shadow: 2px 2px 4px;
    font-size: 48px;
    font-style:normal;
    color:white;
    margin-left: 220px;
    font-family: cursive;
}